doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="padding:50px")
    div(class="topnav")
      a(href="/flight") ALL FLIGHTS
      a(href="/flight/new") ADD FLIGHT
    block content
